#page-container > #page-header .content-header, #page-container > #page-header .content, #page-container > #main-container .content, #page-container > #page-footer .content {
    max-width: 2360px;
}
.dropdown-menu {
    font-size: 0.9rem;
}
.nav-main-horizontal .nav-main-submenu {
    width: 129px;
}
tbody{
    font-size: 0.9rem;
}
.hide {
    display: none;
}
.get-code-btn {
    width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sort {
    cursor: pointer ! important;
}
.invalid-feedback {
    padding-left: 14px;
}
.block-header-default {
    background-color: #f0f3f8;
}
.row {
    margin-right:unset;
    margin-left:unset;
}

.ck-content {
    min-height: 300px;
}

form .error {
    border-color: #e04f1a;
}

form label.error {
    color:#e04f1a;
    font-size: 80%;
}

.pre label {
    font-weight: unset !important;
    color:#1368cd;
    text-align: right !important;
    width: 170px;
    float: left;
    line-height: 25px;
    max-width:unset !important;
}
.pre .detail {
    font-size: 15px;
    display: inline;
    width:78%;
    line-height: 25px;
    float: left;
    margin-left: -10px;
}

.pre .items {
    padding: 10px;
    border-bottom: 1px dashed #efefef;
}
.alert-tips {
    position: absolute;
    float: left;
    width: 100%;
    text-align: center;"
}
.dropdown-menu {
    min-width: 8rem;
}
