//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Dashmix functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
@import 'moment';
.layui-layer-btn {
  a {
    font-size: 0.8rem;
  }
}
.layui-layer-btn .layui-layer-btn0 {
  background-color: rgb(6 101 208) !important;
  border-color: rgb(6 101 208) !important;
}
